
body {
    height: 100vh;
    background-color: #f2f2f2;
}

nav img {
    height: 35px;
    width: auto;
    margin-right: 10px;
}


#seccionInicio {
    color: white;
    padding: 80px 10px 0px;
    background: linear-gradient(135deg, mediumpurple, blueviolet, slateblue);
    h1 {
        padding: 5px;
        color: black;
        transform: rotate(-5deg);
        background-color: gold;
    }
    img {
        max-width: 40%;
    }
    p {
        margin: 20px 5px;
    }
    .divisorInicio {
        height: 30px;
        background-color: #f2f2f2;
        border-radius: 40px 40px 0px 0px;
        transform: translate(0px, 5px);
    }
}

#seccionBotones {
    .contenedorBoton {
        height: 70px;
        margin: 20px 40px 10px;
        background-color: #f2f2f2;
        box-shadow:  5px 5px 10px #dadada,
        -5px -5px 10px #ffffff;
        border-radius: 5px;
    }
    button {
        width: 100%;
        color: rgb(132, 93, 209);
        font-weight: bold;
        font-size: large;
        div {
            height: 100%;
        }
        .contenedorImgBoton {
            height: 80%;
            background-color: rgb(132, 93, 209);
            border: 5px solid rgb(132, 93, 209);
            border-radius: 5px;
            img {
                height: 100%;
                filter: invert(87%) sepia(25%) saturate(5608%) hue-rotate(1deg) brightness(106%) contrast(108%);
            }
        }
    }
}

#modalVerCarrito {
    .marcarItemCarrito {
            color: red!important;
        }
}